(
    meta: (
        frame_size: (w: 512, h: 512),
        columns: 9,
        rows: 8,
        total_frames: 68,
    ),
    ranges: {
        "attack": (start: 0, end: 8),
        "block": (start: 9, end: 14),
        "death": (start: 15, end: 18),
        "heavy_attack": (start: 19, end: 27),
        "hurt": (start: 28, end: 34),
        "idle": (start: 35, end: 42),
        "skill": (start: 43, end: 54),
        "victory": (start: 55, end: 67),
    },
)
