(
    id: "agumon_stance",
    clip: "all",
    entry: "idle",
    nodes: {
        "idle": (
            frames: (54, 59),
            modifier: Some(Loop(count: 0)),
        ),
        "hurt": (
            frames: (47, 53),
        ),
        "death": (
            frames: (14, 22),
        ),
        "victory": (
            frames: (78, 94),
        ),
    },
    transitions: [
        (from: "idle", to: Node("idle"), when: TimeInNode),
        (from: "hurt", to: Node("idle"), when: TimeInNode),
        (from: "death", to: Exit, when: TimeInNode),
        (from: "victory", to: Exit, when: TimeInNode),
    ],
)
